.container {
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90%;
    margin: auto;
}
.flex {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    height: 100px;
    margin: 10px;
    border: 1px 1px 1px solid #1a1a1a;
    box-shadow: 0px 4px 8px 20px #afafaa, -1px -4px 20px 0px #afafaf;
    border-radius: 10px 10px 10px 10px;

}
.satu {
    flex: 1;
}
.dua {
    flex: 2;
}